body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin: 0;
}

.header {
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 50px 0;
}


.header-title {
  color: purple;
}

hr {
  border: 1px solid white;
  width: 50%;
}

.personal-info {
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 0 50px;
}

.personal-info > p {
  color: purple;
}

#header-position {
  color: white;
  font-weight: 300;
}

.personal-info a {
  text-decoration: none;
  color: purple;
}

.experience {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 70px;
  text-align: center;
}

.experience-title {
  color: pink;
}

.experience-special, .education-name {
  font-weight: 600;
}

.experience-position, .education-diploma {
  font-style: italic;
  font-weight: 300;
}

.education {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 50px 50px;
  text-align: center;
}

.education-title {
  color: pink;
}

img {
  width: 25px;
  height: 25px;
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  gap: 1%;
  padding: 50px;
}
